<!DOCTYPE HTML>
<html>
<head>
  <title>Example Backbone App</title>
  <!-- load the bootstrap stylesheet -->
  <link rel="stylesheet" href="ratchet.css">  <!-- load the libraries we need -->
  
 <script src="ratchet.js"></script>
  <script type="text/javascript" src="js/libs/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/underscore.min.js"></script>
  <script type="text/javascript" src="js/libs/backbone.min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/note_router.js"></script>
  <script type="text/javascript" src="js/models/note_model.js"></script>
  <script type="text/javascript" src="js/views/note_index.js"></script>
  <script type="text/javascript" src="js/views/note_row.js"></script>
  <script type="text/javascript" src="js/views/note_new.js"></script>
  <script type="text/javascript" src="js/views/note_edit.js"></script>
  <script type="text/javascript" src="js/views/note_show.js"></script>
  
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">


</head>
<body>
 
  
  
  <div class="content">
   

    

    <div class="row">
      <div class="span6" id="primary-content">
               </div>
       
    </div>

  </div>
  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
 <header class="bar-title">
   <a class="button-prev" href="#notes/index">
    Index
  </a>
  <h1 class="title">  Note</h1>
   
  </header>
    <div class="well">
      <div class="alert alert-error" style="display:none;"></div>
      <form>
        <h2 class="form-signin-heading"></h2>
        <div class="control-group">
          <input type="text" class="input-block-level" name="title" placeholder="Title" value="<%= title %>" />
        </div>
        <div class="control-group">
          <input type="text" class="input-block-level" name="author" placeholder="Author" value="<%= author %>" />
        </div>
        <div class="control-group">
          <textarea class="input-block-level" rows="5" name="description" placeholder="Description"><%= description %></textarea>
        </div>
        <div class="form-actions">
          <button class="save btn btn-large btn-info" type="submit">Save</button> or
          <a href="#notes/index" class="btn btn-large">Cancel</a>
        </div>
      </form>
    </div>
  </script>
  <!-- the index container -->
  <script type="text/template" id="indexTemplate">
   
      <ul class="list inset">
  </ul>
  </script>
  <!-- the row template, renders once for each item in the index -->
  <script type="text/template" id="rowTemplate">
    <li>
    <a href="#note/<%= id %>/view">
          <strong><%= title %></strong>
          <span class="chevron"></span>
        </a>
         </li>
      </script>
  <!-- the show template -->
  <script type="text/template" id="showTemplate">
    <header class="bar-title">
   <a class="button-prev" href="#notes/index">
    Index
  </a>
  <h1 class="title">  <%= title %></h1>
  <a class="button-next" href="#note/<%= id %>/edit">
    Edit Note
  </a>
  </header>
    <div class="well">
      <a class="btn btn-large" href="#notes/index">
        Back To Index
      </a>
      <a class="btn btn-large btn-info" href="#note/<%= id %>/edit">
        Edit Note
      </a>
    </div>
    <h2>
      <%= title %>
      <small>by: <%= author %></small>
    </h2>
    <p style="white-space:pre-wrap;"><%= description %></p>
  </script>

  <script type="text/javascript">
    var notes = new APP.Collections.NoteCollection();
    var router = new APP.Routers.NoteRouter({notes: notes});

    Backbone.history.start();
    // we manually pass in the initial data, but this would be called with a collection.fetch() normally
    notes.reset([
                  {
                    "title": "Example Note 1",
                    "id": "45",
                    "author": "David Morrow",
                    "description": "Pinterest biodiesel excepteur, ad etsy gluten-free semiotics ennui before they sold out irony ut deserunt jean shorts."
                  },
                  {
                    "title": "Example Note 2",
                    "id": "48",
                    "author": "David Morrow",
                    "description": "Fixie synth quinoa umami single-origin coffee master cleanse sartorial typewriter bushwick ennui readymade, lomo trust fund. Shoreditch direct trade fap cray high life swag, viral cred lo-fi locavore fingerstache wayfarers freegan."
                  },
                  {
                    "title": "Example Note 3",
                    "id": "52",
                    "author": "David Morrow",
                    "description": "You probably haven't heard of them keffiyeh lo-fi, yr bespoke selvage cray polaroid beard. Tofu messenger bag sustainable gastropub, gentrify lomo godard PBR echo park fap yr. Small batch truffaut swag forage tofu shoreditch street art helvetica. Hella helvetica fixie godard forage art party lo-fi."
                  }
                ]
              );
  </script>
  
  <nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href="#notes/index">
         
        <div class="tab-label">Notes</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#note/new">
         
        <div class="tab-label">New Note</div>
      </a>
    </li>
     
     
  </ul>
</nav>

</body>
</html>
